head

	title!=title

	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="description", content="#{description}")
	meta(name="keywords", content="#{keywords}")
	meta(name="author", content="Darryl Snow")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(name="robots", content="index,follow")
	meta(name="twitter:card", content="summary")
	meta(name="twitter:site", content="@dazsnow")
	meta(name="twitter:site:id", content="17756866")
	meta(name="twitter:creator", content="@dazsnow")
	meta(name="twitter:creator:id", content="17756866")
	meta(name="twitter:url", property="og:url", content="#{url}")
	meta(name="twitter:title", property="og:title", content="#{title}")
	meta(name="twitter:description", property="og:description", content="#{description}")
	meta(name="twitter:image", property="og:image", content="#{url}/images/darryl-snow.jpg")

	link(rel="canonical", href="#{url}")
	link(rel="author", href="https://yourweb.expert", title="About Darryl Snow")
	link(rel="shortcut icon", href="/images/icons/favicon.ico", type="image/ico")
	link(rel="shortcut icon", href="/images/icons/favicon-96x96.png", type="image/png")
	link(rel="apple-touch-icon", href="/images/icons/favicon-96x96.png", type="image/png")
	link(rel="manifest", href="/manifest.json")

	link(rel="stylesheet", href="/static/main.css", inline)
	
	script.
		WebFontConfig = {
			active: function() {
				sessionStorage.fonts = true;
			},
			google: {
				families: ["Raleway:100,300,600"]
			}
		};
		(function() {
			if(sessionStorage.fonts) {
				console.info("Fonts installed");
				document.documentElement.classList.add("wf-active");
			} else {
				console.info("No fonts installed");
			}
		})();
	
	script(async, defer, src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js")
	link(rel="preconnect", crossorigin, href="https://fonts.googleapis.com/css?family=Raleway:100,300,600")